In [1]:
import numpy as np
import pandas as pd

In [2]:
data = {
    "EmployeeID": [101, 102, 103, 104, 105],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Department": ["Finance", "IT", "IT", None, "Finance"],
    "Salary": [70000, None, 80000, 90000, 75000],
    "HireDate": ["2018-05-01", "2019-06-15", "2020-07-20", "2021-01-10", "2019-11-30"],
    "RemoteWork": [True, False, True, False, None],
    "Skills": [
        ["Excel", "Tableau",None],
        ["Java", "AWS"],
        ["Python", "ML", "SQL"],
        None,
        ["Excel", "PowerBI"]
    ],
    "Performance": [{"2022": "A", "2023": "B"}, {"2022": "C"}, None, {"2022": "B", "2023": "A"}, {"2022": "A"}]
}

Use Case 1: Clean Employee Data
We have a dataset with missing or invalid values like:
None
NaN
empty strings ""
Our goal is to remove those invalid entries and return a clean version of the data.

In [ ]:
import pandas as pd

def clean_data(data):
    cleaned_dict = {}

    for key, values in data.items():
        cleaned_list = []
        for value in values:
            if isinstance(value, list):
                inner_clean = [v for v in value if not pd.isna(v)]
                cleaned_list.append(inner_clean)

            elif not pd.isna(value):
                cleaned_list.append(value)
        cleaned_dict[key] = cleaned_list
    return cleaned_dict

In [ ]:
updated_dict = clean_data(data)
print(updated_dict)

{'EmployeeID': [101, 102, 103, 104, 105], 'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'], 'Department': ['Finance', 'IT', 'IT', 'Finance'], 'Salary': [70000, 80000, 90000, 75000], 'HireDate': ['2018-05-01', '2019-06-15', '2020-07-20', '2021-01-10', '2019-11-30'], 'RemoteWork': [True, False, True, False], 'Skills': [['Excel', 'Tableau'], ['Java', 'AWS'], ['Python', 'ML', 'SQL'], ['Excel', 'PowerBI']], 'Performance': [{'2022': 'A', '2023': 'B'}, {'2022': 'C'}, {'2022': 'B', '2023': 'A'}, {'2022': 'A'}]}

Same usa case using Range

In [ ]:
def Clean_data1(data):
  for i,j in data.items():
    for val in range(len(j)):
      if isinstance(j[val],list):
        j[val]=[n for n in j[val] if n is not None]
      elif j[val] is None:
        j[val]="Nil"
  return data

In [ ]:
s=Clean_data1(data)

In [ ]:
print(s)

{'EmployeeID': [101, 102, 103, 104, 105], 'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'], 'Department': ['Finance', 'IT', 'IT', 'Nilkanth', 'Finance'], 'Salary': [70000, 'Nilkanth', 80000, 90000, 75000], 'HireDate': ['2018-05-01', '2019-06-15', '2020-07-20', '2021-01-10', '2019-11-30'], 'RemoteWork': [True, False, True, False, 'Nilkanth'], 'Skills': [['Excel', 'Tableau'], ['Java', 'AWS'], ['Python', 'ML', 'SQL'], 'Nilkanth', ['Excel', 'PowerBI']], 'Performance': [{'2022': 'A', '2023': 'B'}, {'2022': 'C'}, 'Nilkanth', {'2022': 'B', '2023': 'A'}, {'2022': 'A'}]}

**Same use case using ListComprihensive **

In [ ]:
def clean_data1(data):
    return {
        new: [
            list(filter(lambda x: x is not None,val)) if isinstance(val,list) else(val if val is not None else "nothing")
            for val in new_dict
        ]
        for new,new_dict in data .items()
    }

In [ ]:
n1=clean_data1(data)
print(n1)

{'EmployeeID': [101, 102, 103, 104, 105], 'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'], 'Department': ['Finance', 'IT', 'IT', 'nothing', 'Finance'], 'Salary': [70000, 'nothing', 80000, 90000, 75000], 'HireDate': ['2018-05-01', '2019-06-15', '2020-07-20', '2021-01-10', '2019-11-30'], 'RemoteWork': [True, False, True, False, 'nothing'], 'Skills': [['Excel', 'Tableau'], ['Java', 'AWS'], ['Python', 'ML', 'SQL'], 'nothing', ['Excel', 'PowerBI']], 'Performance': [{'2022': 'A', '2023': 'B'}, {'2022': 'C'}, 'nothing', {'2022': 'B', '2023': 'A'}, {'2022': 'A'}]}

In [ ]:
def clean2(data):
  clean={}
  for key,value in data .items():
     clean_list=[]
     for val in value:
      if isinstance(val,list):
        inner_list_list=[v for v in val if not pd.isna(v)]
        clean_list.append(inner_list_list)
      elif not pd.isna(val):
        clean_list.append(val)
     clean[key]=clean_list
  return clean

In [ ]:
n2=clean2(data)
print(n2)

{'EmployeeID': [101, 102, 103, 104, 105], 'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'], 'Department': ['Finance', 'IT', 'IT', 'Finance'], 'Salary': [70000, 80000, 90000, 75000], 'HireDate': ['2018-05-01', '2019-06-15', '2020-07-20', '2021-01-10', '2019-11-30'], 'RemoteWork': [True, False, True, False], 'Skills': [['Excel', 'Tableau'], ['Java', 'AWS'], ['Python', 'ML', 'SQL'], ['Excel', 'PowerBI']], 'Performance': [{'2022': 'A', '2023': 'B'}, {'2022': 'C'}, {'2022': 'B', '2023': 'A'}, {'2022': 'A'}]}

same use case have value in dict format as well so we need to check val is dict then itterate

In [ ]:
def clean_data3(data):
    return {
        key: [
            list(filter(lambda x: x is not None, val)) if isinstance(val, list)
            else (val if val is not None else "nothing") if not isinstance(val, dict)
            else {k:v for k,v in val.items() if v is not None}  # clean dictionary
            for val in values
        ]
        for key, values in data.items()
    }

In [ ]:
n3=clean_data3(data)
print(n3)

{'EmployeeID': [101, 102, 103, 104, 105], 'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'], 'Department': ['Finance', 'IT', 'IT', 'nothing', 'Finance'], 'Salary': [70000, 'nothing', 80000, 90000, 75000], 'HireDate': ['2018-05-01', '2019-06-15', '2020-07-20', '2021-01-10', '2019-11-30'], 'RemoteWork': [True, False, True, False, 'nothing'], 'Skills': [['Excel', 'Tableau'], ['Java', 'AWS'], ['Python', 'ML', 'SQL'], 'nothing', ['Excel', 'PowerBI']], 'Performance': [{'2022': 'A', '2023': 'B'}, {'2022': 'C'}, 'nothing', {'2022': 'B', '2023': 'A'}, {'2022': 'A'}]}

Use Case Calculate Avg salary Per dept

In [12]:
def calculate_avg(data):
  dict={}
  for d,s in zip(data["Department"],data["Salary"]):
    if not d or not s or str(d) == 'nan' or str(s) == 'nan':
       continue
    dict.setdefault(d,[]).append(s)
  return{d:sum(v)/len(v)for d,v in dict.items()}

In [13]:
calculate=calculate_avg(data)
print(calculate)

{'Finance': 72500.0, 'IT': 80000.0}

Sort Emp By salary

In [19]:
def sort_by_salary(data):
  emp=list(zip(data["Name"],data["Salary"]))
  emp.sort(key=lambda x:x[1] if x[1] is not None else float('inf'))
  return emp

In [20]:
result = sort_by_salary(data)

for name, sal in result:
    print(name, sal)

Alice 70000
Eva 75000
Charlie 80000
David 90000
Bob None

Same sorting using simple function

In [21]:
def salary_key(x):
    return x[1] if x[1] is not None else float('inf')

def sort_by_salary(data):
    emp = list(zip(data["Name"], data["Salary"]))
    emp.sort(key=salary_key)
    return emp

In [25]:
new_sort=sort_by_salary(data)
print(new_sort)

[('Alice', 70000), ('Eva', 75000), ('Charlie', 80000), ('David', 90000), ('Bob', None)]

Count Emp per dept

In [ ]:
def emp_per_dept(data):
  emp_dept={}
  for i in data["Department"]:
    if isinstance(i,str):
      emp_dept[i]=emp_dept.get(i,0)+1
  return emp_dept

In [ ]:
cot=emp_per_dept(data)
print(cot)

{'Finance': 2, 'IT': 2}

Use Case Find Top Performance

In [ ]:
def top_performance(data):
  top=[]
  for i ,j in zip(data["Name"],data["Performance"]):
    if j and j.get("2023")=="A":
      top.append(i)
  return top

In [ ]:
perfo=top_performance(data)
print(perfo)

['David']

In [ ]:
def new_top_per(data):
  top=[]
  for i ,j in zip(data["Name"],data["Performance"]):
    if j and "A" in j.values():
      top.append(i)
  return top

In [ ]:
perfo1=new_top_per(data)
print(perfo1)

['Alice', 'David', 'Eva']

Find Emp Working Remoetly

In [27]:
def find_emp_remote(data):
  remote_work=[]
  for i ,j in zip(data["Name"],data["RemoteWork"]):
    if j  == True:
      remote_work.append(i)
  return remote_work

In [28]:
rm=find_emp_remote(data)
print(rm)

['Alice', 'Charlie']

In [34]:
def find_emp_remote1(data):

  return data[data["RemoteWork"]==True][["Name","Department"]]

remo=pd.DataFrame(data)

In [36]:
n2=find_emp_remote1(remo)
print(n2)

      Name Department
0    Alice    Finance
2  Charlie         IT

find employees whose salary is above the companyâ€™s average salary.

In [5]:
def emp_above_company_avg(data):
    valid_salary=[x for x in data["Salary"] if x is not None]
    avg_salary=sum(valid_salary)/len(valid_salary)
    emp_above_avg=[]
    for name,sal in zip(data["Name"],data["Salary"]):
      if sal is not None and sal>avg_salary:
        emp_above_avg.append(name)
    return{"Company_avg_sal":avg_salary,"Above_avg_emp":emp_above_avg}

In [6]:
above=emp_above_company_avg(data)
print(above)

{'Company_avg_sal': 78750.0, 'Above_avg_emp': ['Charlie', 'David']}

Genrate Department Summery report

In [7]:
df = pd.DataFrame(data)

In [13]:
def dept_summary(df):
    return df.groupby("Department")[["Salary", "RemoteWork"]].agg(
        Employee_Count=("Salary", "count"),
        Avg_Salary=("Salary", "mean"),
        Remote_Workers=("RemoteWork", "sum"),
        maximum_sal=("Salary","max"),
        minumum_sal=("Salary","min")

    )

In [14]:
summery=dept_summary(df)
summery

,Employee_Count,Avg_Salary,Remote_Workers,maximum_sal,minumum_sal
Department,,,,,
Finance,2,72500.0,True,75000.0,70000.0
IT,1,80000.0,1,80000.0,80000.0